{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "eslint:all",
    "plugin:react/all"
  ],
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "15.0",
      "flowVersion": "0.53"
    }
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "minProperties": 4
      }
    ],
    "react/jsx-fragments": 0,
    "quotes": 0,
    "require-unicode-regexp": 0,
    "sort-imports": 0,
    "max-len": 0,
    "quote-props": 0,
    "no-process-env": 0,
    "function-paren-newline": 0,
    "no-undef": 0,
    "padded-blocks": 0,
    "react/require-optimization": 0,
    "react/prefer-stateless-function": 0,
    "arrow-body-style": 0,
    "one-var": 0,
    "space-before-function-paren": 0,
    "no-extra-parens": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-max-depth": 0,
    "max-params": 0,
    "no-negated-condition": 0,
    "multiline-ternary": 0,
    "no-ternary": 0,
    "react/forbid-prop-types": 0,
    "no-invalid-this": 0,
    "react/no-set-state": 0,
    "object-curly-spacing": 0,
    "class-methods-use-this": 0,
    "arrow-parens": 0,
    "no-warning-comments": 0,
    "max-lines-per-function": 0,
    "max-statements": 0,
    "react/no-unused-state": 0,
    "sort-keys": 0,
    "id-length": 0,
    "camelcase": 0,
    "no-magic-numbers": 0,
    "react/jsx-no-literals": 0
    
  }
}