body {
  font-family: Helvetica, Arial, sans-serif;
}

$gray: #e8e8e8;

.homeBlock {
  border: 1px solid $gray;
  padding: 20px;
  margin-bottom: 20px;
  h1 {
    border-bottom: 1px solid $gray;
    padding-bottom: 5px;
  }
}

.logsSpace {
  margin-top: 10px;
  height: 55vh;
}

.dockerDetails {
  display: block;
  padding: 10px;
  .dockerInfo {
    margin-top: 10px;
    p {
      margin: 3px;
    }
  }
}

.messagesBlock {
  margin: 5px;
}

.infoSpace {
  text-align: center;
  margin-bottom: 20px;
  .fontDash {
    font-size: 60px;
    color: #1890ff;
  }
  .error {
    color: red;
  }

}
