body {
  font-family: Helvetica, Arial, sans-serif;
}
.test {
  background-color: yellow;
}
.logsSpace {
  height: 55vh;
}
.dockerDetails {
  display: block;
  padding: 10px;
  .element {
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #001529;
    background: #f0f2f5;
    margin: 3px 3px 24px 3px ;
  }
}
