body {
  font-family: Helvetica, Arial, sans-serif;
}
.test {
  background-color: yellow;
}
.logsSpace {
  margin-top: 10px;
  height: 55vh;
}
.dockerDetails {
  display: block;
  padding: 10px;
  .dockerInfo {
    margin-top: 10px;
    p {
      margin: 3px;
    }
  }
}
.messagesBlock {
  margin: 5px;
}

.fontDash {
  font-size: 60px;
}
